.conteiner_interno{
    display:flex;
    flex-direction:column;
    align-items: center;
}

.conteiner{
    display: block;
    border:solid 0.5px black;
    width:20%;
    height:250px;
}
.opçoes{
    display:flex;
    flex-direction:row;
    align-items: center;
    gap:20px;
    
}
.versos{
    display:flex;
    flex-direction:row;
    align-items: center;
    gap: 15px;
}
